/*
 * This is a separate file rather than embedded because it allows us to
 * suppress non-working CSS from IE8, etc.
 */
body {
	margin-left: 16em;
}
*.nav {
	margin-left: -16em;
	width: 15em;
	position: fixed;
	top: 0;
	overflow: auto;
	height: 100%;
}
*.nav-top
{
	color: #FFF;
	background-color: #ccc;
	text-decoration:none;
	text-transform:uppercase;
	font-style:italic;
}

*.menu-nav ul
{
	text-decoration:none;
}
